numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
nltk==3.8.1
scikit-learn==1.5.1
tensorflow==2.15.0

# only if you want to run experimental commented sections in notebooks:
# spacy==3.7.5
# stanza==1.8.2
